  <div ng-repeat="group in groups">
    <div class="row-fluid">
      <a ng-click="showStudents($event,$index)" class="span3 offset3">
         Groupe {{group.group.name}} Année {{" "+group.group.year}}
      </a>
      <a ng-click="chooseGroup($event,$index)"
         class="btn btn-primary">Choisir</a>
    </div>
    <div ng-show="isShowStudents($index)" class="row-fluid offset3">
        <div  ng-repeat="student in group.group.students">
          {{student.firstName}} {{student.lastName}}
        </div>
    </div>

  </div>