<div class="page-header">
  <h1>Nouveau groupe</h1>
</div>

<form ng-submit="saveGroup()">
    <input type="text" ng-model="name" placeholder="Nom"/><br>
    <input type="number" ng-model="year" placeholder="Année"/>
    <button type="submit" class="btn pull-right">Sauvegarder</button>
</form>



<div class="row">
  
  <div class="span6 ">
    <form class="form-search" ng-submit="searchStudentByName()">
      <div class="input-append">
        <input type="text" class="search-query" ng-model="studentName">
        <button type="submit" class="btn">Recherche</button>
      </div>
    </form>
      
    <div ng-show="findedStudents">
      <legend>Ajouter un élèves</legend>
      <table class="table">
        <thead>
          <tr>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Date de naissance</th>
        </tr>
        </thead>
        <tr ng-repeat="student in findedStudents">
          <td>{{student.firstName}}</td>
          <td>{{student.lastName}}</td>
          <td>{{student.birtday}}</td>
          <td>
            <button ng-click="addStudentToGroup(student)" class="btn"> Selectionner </button>
          </td>
        </tr>
      </table>

    </div>
  </div>
<div class="span6">
    <legend>Élèves du groupe</legend>
    <table class="table table-stiped">
      <thead>
        <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Date de naissance</th>
      </tr>
      </thead>
      <tr ng-repeat="student in students">
        <td>{{student.firstName}}</td>
        <td>{{student.lastName}}</td>
        <td>{{student.birtday}}</td>
        <td>
          <button class="btn" ng-click="removeStudent($index)"> Enlever </button>
        </td>
      </tr>
    </table>
  </div>

</div>

