extends layout
block content
  table
    tr
      td Group: 
      td 
       input(type="text", name="group")
    tr
      td Year:
      td 
        input(type="number")
    .button
      a(href="#") Save class
   
  .newStudent
    .sectionTitle New Student
    table
      tr
        td Firstname
        td
          input(type="text", name="firstname")
        td Father name
        td
          input(type="text", name="fatherName")
      tr
        td Lastname
        td 
          input(type="text", name="lastname")
        td Mother name
        td
          input(type="text", name="motherName")
      tr
        td Birthday
        td
          input(type="text", name="birthday")
        td Telephones
        td
          input(type="text", name="telephone")
      tr
        td Notes
        td 
          textarea(name="notes")
    
    .button 
      a(href="#") Add Student
  .studentList 
    .sectionTitle Student list
    table
      tr
        th Firstname
        th Lastname
        th Birthday
        th Father name
        th Mother name
        th Telephones
        th Notes
      tr
        td hey
