extends layout
block content
  form()
    table
      tr
       td Group: 
       td 
         input(type="text", name="group")
      tr
        td Year:
        td 
          input(type="number")
    
  add student
   table
    tr
      td Firstname
      td
        input
    tr
      td Lastname
      td 
        input
    tr
      td Birtday
      td
        input
    tr 
      td Father name
      td 
        input
    tr
      td Mother name
      td
        input
    tr
      td Telephones
      td
        input
    tr
      td Notes
      td 
        input
    
 
