extends layout
block content
  form()
    table
      tr
       td Group: 
       td 
         input(type="text", name="group")
      tr
        td Year:
        td 
          input(type="number")
    
    
