extends layout
block content
  form()
    table
      tr
       td Group: 
       td 
         input(type="text", name="group")
      tr
        td Year:
        td 
          input(type="number")
    .button
      a(href="#") Save class
   
  .newStudent
    .sectionTitle New Student
    table
      tr
        td Firstname
        td
          input
        td Father name
        td
          input
      tr
        td Lastname
        td 
          input
        td Mother name
        td
          input
      tr
        td Birthday
        td
          input
        td Telephones
        td
          input
      tr
        td Notes
        td 
          textarea
    
    .button 
      a(href="#") Add Student
  .studentList 
    .sectionTitle Student list
    table
      tr
        th Firstname
        th Lastname
        th Birthday
        th Father name
        th Mother name
        th Telephones
        th Notes
      tr
        td hey
