extend layout
append head
  script(src='/views/editClass.js')
block content
  form
    table
        tr
          td Group:
          td
           input(type="text", name="group")
        tr
          td Year:
          td
            input(name="year",type="number")
      table
        tr
          th Firstname
          th Lastname
          th Birtday
          th Father name
          th Mother name
          th Telephone
          th Notes
        tr
          td
            input
          td
            input
          td
            input
          td
            input
          td
            input
          td
            input
          td
            input

