extends layout
block content
  ul
    li Create student
    li List students (then update/delte)
    li Create class (then students)
    li Create Exam
    li create competence
    li create step (étape)
    li add note    
