doctype 5
html(lang="en")
  head
    link( href="css/styles.less", rel="stylesheet/less", type="text/css")
    script( src="script/less.js", type="text/javascript")
    title Teahcer Marking Notebook
  body
    .header Teacher Mark Notebook
    block content
