doctype 5
html(lang="en")
  head
    title Teacher Mark Notebook
    link( rel="stylesheet/less", href="css/styles.less", type="text/css")
    script( src="script/less.js", type="text/javascript")
  body
    .header Teacher Mark Notebook
    block content
