doctype 5
html(lang="en")
  head
    link( href="/css/styles.css", rel="stylesheet", type="text/css") 
    title Teacher Marking Notebook
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js")

    script(src="/models/Student.js")
    script(src="/models/Class.js")
    script(src="/models/MarkStatement.js")
    script(src="views/studentListView.js")

    script(src="/script/TeacherMarkingNotebook.js")
  body
    .header 
      a(href="/") Teacher Marking Notebook
    .toolBar 
      a(href="/configure")  Configure
    block content
