doctype 5
html(lang="en")
  head
    link( href="/css/styles.css", rel="stylesheet", type="text/css") 
    title Teacher Marking Notebook
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
  body
    .header 
      a(href="/") Teacher Marking Notebook
    .toolBar 
      a(href="/configure")  Configure
    block content
