doctype 5
html(ng-app="notebook")
  head
    block head
      meta(charset='utf8')
      base(href='/')
      link( href="/css/styles.css", rel="stylesheet", type="text/css") 
      title Notebook
      script(src="http://code.angularjs.org/1.1.0/angular.min.js")
      script(src="http://code.angularjs.org/1.1.0/angular-resource.min.js")
      script(src='js/notebook.js')
      script(src='js/services.js')
      script(src='js/controllers.js')
      script(src='js/filters.js')
      script(src='js/directives.js')
  body
    .header 
      a(href="/") NoteBook
     if(everyauth.loggedIn)
      .toolBar
        a(href="profile") #{everyauth.twitter.user.screen_name}
        a(href="configure")= t("Configure")
        a(href="logout")= t("Logout")
    block content