body {
  background-color:  #293333;
}
.header {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.toolBar {
  text-align: right;
}
a {
 color:white;
 text-decoration:none;
}
a:hover {
  opacity: 0.8;
}
form {
  margin-left:auto;
  margin-right:auto;
  width:300px;
}
.button {
  color:white;
}
