.login-method {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  padding: 30px;
}
.twitter-login-button {
  background-image:url("/images/twitter-bird-dark-bgs.png");
  width: 150px;
  height: 150px;

  border-radius: 200px;
  background-color:#d7cefc;
}
.twitter-login-button:hover{
 background-image:url("/images/twitter-bird-light-bgs.png")
}
