body {
  background-color:  #293333;
  color:grey;
}
.header {
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.toolBar {
  text-align: right;
}
a {
 color:white;
 text-decoration:none;
}
a:hover {
  opacity: 0.8;
}
form {
  margin-left:auto;
  margin-right:auto;
  width:300px;
}
.button {
  border-radius: 10px;
  background-color: white;
  color: grey;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
.button > a {
  color: grey;
}
.sectionTitle {
  color:white;
  font-size:20px;
  text-decoration:underline;
}

