<div class="page-header">
  <h1>Nouvel exam</h1>
</div>

<div class="row">
  <form class="form-inline ">
    <!--Sujet-->
    Sujet: 
    <select ng-model="subject"
            ng-change="changeSubject()"
            ng-options="s.subject group by s.competence for s in subjects"
            class="input">
    </select>
    <!--Nom-->
    Nom: 
    <input type="text" ng-model="name">
    <!--Date-->
    Date: 
    <input type="date" ng-model="date" class="input-small">
    <!--Maximal-->
    Note maximal:
    <input type="number" ng-model="maximal" class="input-small">
  </form>
</div>
<div class="row">
  <table class=span6>
    <tr>
      <td>Élèves</td>
      <td ng-show=subject.criterion ng-repeat="criterion in subject.criterion">{{criterion}}</td>
    </tr>
    <tr ng-repeat="student in group.students |orderBy:lastName |orderBy:firstName">
      <td>{{student.lastName}} {{student.firstName}}</td>
      <td ng-hide=subject.criterion>
        <input type="number" 
               ng-model="mark[$index]"
               class="input-small">
      </td>
      <td ng-show="subject.criterion" ng-repeat="criterion in subject.criterion">
        <input type="number" 
               ng-model="mark[$parent.$index][criterion]"
               class="input-small" >
      </td>


    </tr>
  </table>
</div>
<div class=row>
  <div class=offset5>
    <buton class="btn" ng-click="saveExam($event)">Sauvegarder</button>
  </div>

</div>


