.exam(ng-controller="ExaminationNewCtrl")
  center
    =t("Subject")
    select(ng-model="subject", ng-change="changeSubject()", ng-options="s.subject group by s.competence for s in subjects")
    br
    =t("Name")
    input(type="text", ng-model="name")
    br
    =t("Date")
    input(type="date", ng-model="date")
    =t("Maximal")
    input(type="number", ng-model="maximal")
  table
    tr
      td #{t("Student")}
      td(ng-show="subject.criterion", ng-repeat="criterion in subject.criterion"  )
        {{criterion}}
    tr(ng-repeat="student in students |orderBy:lastName |orderBy:firstName")
      td
        {{student.lastName}} {{student.firstName}}  
      td(ng-hide="subject.criterion")
        input(type="number", ng-model="mark[$index]" )
      td(ng-show="subject.criterion", ng-repeat="criterion in subject.criterion"  )
        input(type="number", ng-model="mark[$parent.$index][criterion]" )
      
  center
    a.button(ng-click="saveExam($event)")= t("Save")

