<div class=row>
  <form class="form-horizontal span6">
    <fieldset>

      <div class="control-group">
        <div class="control-label">Sujet</div>
        <div class="controls">
          <select ng-model="subject"
                  ng-change="changeSubject()"
                  ng-options="s.subject group by s.competence for s in subjects">
          </select>
        </div>
      </div>

      <div class=control-group>
        <div class=control-label>Nom</div>
        <div class=controls>
          <input type="text" ng-model="name">
        </div>
      </div>

      <div class=control-group>
        <div class=control-label>Date</div>
        <div class=controls>
          <input type=date ng-model=date>
        </div>
      </div>

      <div class=control-group>
        <div class=control-label>Maximal</div>
        <div class=controls>
          <input type=number ng-model=maximal>
        </div>
      </div>
    </fieldset>
  </form>
  <table class=span6>
    <tr>
      <td>Élèves</td>
      <td ng-show=subject.criterion ng-repeat="criterion in subject.criterion">{{criterion}}</td>
    </tr>
    <tr ng-repeat="student in students |orderBy:lastName |orderBy:firstName">
      <td>{{student.lastName}} {{student.firstName}}</td>
      <td ng-hide=subject.criterion>
        <input type=number ng-model=mark[$index]>
      </td>
      <td ng-show="subject.criterion" ng-repeat="criterion in subject.criterion">
        <input type="number" ng-model="mark[$parent.$index][criterion]" >
      </td>


    </tr>
  </table>
</div>
<div class=row>
  <div class=offset5>
    <buton class="btn" ng-click="saveExam($event)">Sauvegarder</button>
  </div>

</div>


