<div class="page-header">
  <h1> Liste des élèves </h1>
</div>



<table class="table table-striped">
  <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Anniversaire</th>
      <th>Nom du père</th>
      <th>Nom de la mère</th>
      <th>Téléphone</th>
      <th>Notes</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tr ng-repeat="student in students">
    <td>{{student.firstName}}</td>
    <td>{{student.lastName}}</td>
    <td>{{student.birthday |date: "yyyy-MM-dd"}}</td>
    <td>{{student.fatherName}}</td>
    <td>{{student.motherName}}</td>
    <td>{{student.telephone}}</td>
    <td>{{student.notes}}</td>
    <td>
      <button ng-click="editStudent(student._id)" class="btn btn-primary btn-small">
        Éditer
      </button>
    </td>
    <td>
      <button ng-click="deleteStudent(student._id)" class="btn btn-danger btn-small">
        Supprimer
      </button>
    </td>
  </tr>

</table>
