.exam(ng-controller="ExaminationNewCtrl")
  center
    =t("Subject")
    select(ng-model="subject", ng-options="s.subject group by s.competence for s in subjects")
    br
    =t("Date")
    input(type="date", ng-model="date")
    =t("Maximal")
    input(type="number", ng-model="maximal")
  table
    tr(ng-repeat="student in students |orderBy:lastName |orderBy:firstName")
      td
        {{student.lastName}} {{student.firstName}}  
      td
        input(type="number", ng-model="mark[$index]" )
  center
    a.button(ng-click="saveExam($event)")= t("Save")

